.inspect-form th {
    vertical-align: middle;
    text-align: center;
}

.inspect-form #content-main {
    width: 980px;
    margin: 0 auto;
    float: none;
}
.inspect-form table {
    width: 100%;
}
.inspect-form td:nth-child(n+2) {
    text-align: center;
}
.inspect-form td:nth-child(n+2) {
    text-align: center;
}
.details td {
    width: 50%;
}
td.error {
    font-weight: bold;
    color: #B22222;
}
